
h2 {
  color:  #9799BA;
  text-align: center;
  font-size: 30px
}
body {
  color:  #FEADB9;
}
title  {
  color:  #BC85A3;
  text-align: center;
  font-size: 40px
}
ul  {
  color:  #BC85A3;
  font-size: 250px
}
